
.cards {
    width: 295px;
    overflow: hidden;
    /* border-radius: 25px; */
    border: 1px solid lavender;
    margin: 10px;
    border-radius: 5px;
    background: #fff;
    /* box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1); */
 }
 
 .card__image {
    position: relative;
    height: 140px;
 }
 .card__image > img {
    max-width: 100%;
    border-bottom-right-radius: 30px;
    transform: rotate(10deg) translate(-15px, -55px);
    position: absolute;
    height: 200px;
    object-fit: cover;
    object-position: center;
 }
 
 .card__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 30px 20px 30px;
 }
 .card__info h3 {
    font-size: 33px;
    font-weight: 700;
    transform: rotate(-5deg)
    skew(-5deg);
    background-image: linear-gradient(90deg, #15CBF4 0%, #42E915 100%);
 }
 .card__info p {
    font-size: 14px;
    font-weight: 600;
 }
 .card__info--price {
    text-align: right;
    color: orangered;
 }
 .rect2 {
    position: relative;
    bottom: 315px;
    right: 15px;
    width: 325px;
    height: 230px;
    border: 1px solid lavender;
    border-radius: 0 0px 80px 0;
    background-image: url();
    transform: rotate(10deg);
    object-fit: cover;
 }
 .checked {
    color: #ffd700;
 }
 
 ::-webkit-scrollbar {
    width: 8px;
 }
 
 ::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
 }
 
 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
 }
 :root {
	--gradient-shadow: linear-gradient(
		45deg,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000
	);
}
 .shadow1 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	width: 400px;
	height: 250px;
	background: linear-gradient(0deg, #000, #262626);
}
.shadow1:before,
.shadow1:after {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	background: var(--gradient-shadow);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: animate 20s linear infinite;
}

.shadow1:after {
	filter: blur(20px);
}

@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 300% 0;
	}
	100% {
		background-position: 0 0;
	}
}
